.h5p-questionnaire-submit-screen {
  padding: 5em 2em;
  text-align: center;
  color: #fff;
  background: #2880d0;
  height: 100%;
  box-sizing: border-box;
}
.h5p-questionnaire-submit-screen-title {
  font-size: 1.485em;
}
.h5p-questionnaire-submit-screen-subtitle {
  margin: 0.5em 0 2em 0;
  font-size: 1em;
}
.h5p-questionnaire-button.submit {
  background-color: #ff6b00;
  border-color: #ff6b00;
}
.h5p-questionnaire-button.submit:after {
  font-family: "H5PFontAwesome4";
  content: "\f058";
  margin-left: 0.5em;
}
.h5p-questionnaire-button.submit:hover {
  background-color: #ff7a1a;
}
.h5p-questionnaire-button.submit:active {
  background-color: #e66507;
}
.h5p-questionnaire-submit-screen .h5p-questionnaire-button:focus {
  outline-color: #0d263c;
}
.h5p-questionnaire-submit-screen .h5p-questionnaire-button.previous {
  background: transparent;
  color: #fff;
  border-color: #fff;
  margin-right: 0.5em;
}
.h5p-questionnaire-submit-screen .h5p-questionnaire-button.previous:hover {
  /* A little lighter */
  background-color: #3b8ace;
}
.h5p-questionnaire-submit-screen .h5p-questionnaire-button.previous:active {
  /* A little darker */
  background-color: #1879ce;
}

.h5p-score-table-custom {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}
.h5p-summary-table-pages {
  overflow: auto;
  clear: right;
  max-height: 86%;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.h5p-score-table-custom thead tr,
.h5p-score-table-custom tbody tr {
  border-bottom: 1px solid #ddd;
}

.h5p-score-table-custom thead tr th:first-child,
.h5p-score-table-custom tbody tr td:first-child {
  /* background-color: aqua; */
  width: 75%;
  text-align: left;
}

.h5p-score-table-custom thead tr th:last-child,
.h5p-score-table-custom tbody tr td:last-child {
  text-align: right;
}

.h5p-score-table-custom thead tr th {
  font-size: 8.5px;
  font-weight: 400;
  vertical-align: top;
}

.h5p-score-table-custom tbody tr td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
}
